<%= form_for(@fare) do |f| %>
  <% if @fare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fare.errors.count, "error") %> prohibited this fare from being saved:</h2>

      <ul>
      <% @fare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :farePriceReg %><br>
    <%= f.text_field :farePriceReg %>
  </div>
  <div class="field">
    <%= f.label :farePriceSp %><br>
    <%= f.text_field :farePriceSp %>
  </div>
  <div class="field">
    <%= f.label :fareIncReg %><br>
    <%= f.text_field :fareIncReg %>
  </div>
  <div class="field">
    <%= f.label :fareIncSp %><br>
    <%= f.text_field :fareIncSp %>
  </div>
  <div class="field">
    <%= f.label :fareDescription %><br>
    <%= f.text_area :fareDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
