<p id="notice"><%= notice %></p>

<h1 class="centerText">Feed Back logs</h1>

<main class="reportsContain">
  <% @reports.each do |report| %>
    
    <article class="reports centerContainer1">
      
      <% if user_signed_in? %>
        <div class="deleteBtnContainerRigth centerText">
        <%= link_to(report, method: :delete, data: { confirm: 'Want delete this ?' }) do %>
          <div class="deleteBtn">
          X
          </div>
        <% end %>   
        </div>
      <% end %>

      <%= link_to(report) do %>
        <h4><%= report.title %></h4>
        <p><%= report.description %></p>
      <% end %>
      
    </article>
    
  <% end %>
</main>


<% if user_signed_in? %>
  <%= link_to 'New Report', new_report_path %>
<% end %>