<!DOCTYPE html>
<html>
<head>
  <title>JeepNiCagayanWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="bodyContainer ">
	<%= render 'layouts/header' %>
	
	
		<span class="alert"><%= alert %></span>
		<%= yield %>
	</div>
</body>
</html>
